{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>贰经人手&nbsp岁月拾遗</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'css/resume.css' %}" rel="stylesheet">
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/croppie.css' %}">
    
  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <h4><a href="/"><i class="fas fa-home">&nbsp贰&nbsp拾</i></a></h4>
      <a class="navbar-brand js-scroll-trigger" href="{% url 'user_center' %}">
        <h4><span class="d-block d-lg-none">{{ user.family_name }} {{ user.given_name }}</span></h4>
        <span class="d-none d-lg-block">
          {% if user.avatar %}
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ user.avatar.url }}" alt="">
          {% else %}
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/default_avatar.jpg' %}" alt=""> <!--default-->
          {% endif %}
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <h4><a class="nav-link js-scroll-trigger" href="{% url 'user_center' %}#about">个人资料</a></h4>
          </li>
          <li class="nav-item">
            <h4><a class="nav-link js-scroll-trigger" href="{% url 'user_center' %}#recent-sell">最近交易</a></h4>
          </li>
        </ul>
      </div>
    </nav>

<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h3>&nbsp</h3>
    <h3>&nbsp</h3>
	  <h2 class="section-heading text-uppercase">发布交易失败</h2>
    <h3>&nbsp</h3>
	  <h3 class="section-subheading text-muted">每位用户最多只能发布6个交易</h3>
    <h3>&nbsp</h3>
    <h3 class="section-subheading text-muted">请及时删除已完成的交易</h3>
	</div>
  </div>
</div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <!--<script src="../static/js/agency.js"></script>-->

    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <!--<script src="../static/mail/contact_me.js"></script>-->

    <script src="{% static 'js/croppie.min.js' %}"></script>

  </body>

</html>
